.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal>section {
  width: 90%;
  max-width: 606px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal>section>header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #fff;
  font-weight: 70;
}

.modal>section>header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 60px;
  font-size: 17px;
  font-weight: 70;
  text-align: center;
  color: #999;
  background-color: transparent;
}

.modal>section>main {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 450px;
}

.leftside {
  padding-top: 130px;
  width: 50%;
  text-align: center;
}

.leftside>img {
  width: 50%;
}

.rightside {
  width: 50%;
  height: 20%;
  padding-left: 10px;
  text-align: left;
}

.modal>section>footer {
  padding: 12px 16px;
  text-align: right;
}

.modal>section>footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}

.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.5s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}